<div class="background">
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
<div class="coontainer-fluid">
 
<ul class="navbar-nav">
  <span class="navbar-text">FOOD-BOX</span>
  <li class="nav-item">
    <a class="nav-link"  routerLink="/home" > Home</a>
  </li>

  <li class="nav-item">
    <a class="nav-link"  routerLink="/dietfood" >Diet Food</a> 

  </li>

  <li class="nav-item">
    <a class="nav-link" routerLink="/fastfood" >Fast Food</a> 

  </li>

  <li class="nav-items" >
    <a class="nav-link" routerLink="/login" >Login</a>
  </li>
</ul>

</div>
</nav>

</div><router-outlet></router-outlet>
<!--
<img [src]="myImage" alt="">


<div class="container">
<button class="btn btn-primary" (click) ="btnClicked()" >Click</button>
<p>Welcome{{user}}</p>

<img [src]="imgSrc">

</div>-->